<% provide(:title, t("form.all_user")) %>
<h1><%= t "form.all_user" %></h1>

<%= will_paginate %>

<ul class="users">
  <% if @users.blank? %>
    <h1> <%= t "form.not_found" %> </h1>
  <% end %>
  <%= render @users %>
</ul>

<%= will_paginate %>
