<% provide :title, t("pub.title") %>
<h1><%= t "pub.title" %></h1>

<%= will_paginate %>
<ul class="users">
  <% if admin? %>
    <li><h4><%= link_to t("pub.create_sub"), new_publisher_url %></h4></li>
  <% end %>
  <%= render @publishers %>
</ul>
<%= will_paginate %>
